table {
    border: solid;
    max-width: 700px;
    border-color: black;
    border-radius: 5px 5px 0px 0px;
    background-color: #1240AB;
    font-size: 1.1em;
    margin: 0 auto;
    color: white;
    tr:nth-child(odd) {
        background-color: lighten(#1240AB, 10%);
    }
    th {
        background-color: darken(#1240AB,5%);
    }
}



@media (max-width: 768px) {
    .table {
        font-size: 16px !important;
    }
}