<div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>
            <p>Details</p>
          </th>
          <th>
            <p>Data</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Shared -->
        <tr>
          <td title="School suburb/town">
            <p>Suburb:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Town_suburb | NoDataPipe }}</p>
          </td>
        </tr>
        <tr>
          <td title="School population gender status">
            <p>Gender:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_gender | NoDataPipe | CoEdPipe}}</p>
          </td>
        </tr>
        <tr>
          <td title="Options include: primary school, secondary school">
            <p>Level of Schooling:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Level_of_schooling | NoDataPipe }}</p>
          </td>
        </tr>
        <tr>
          <td title="Federal electorate divisions">
            <p>Fed Electorate:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Fed_electorate | NoDataPipe }}</p>
          </td>
        </tr>
  
        <!-- Gov only -->
        <tr *ngIf="schoolDetails?.Student_number">
          <td title="Full-time equivalent (FTE) student enrolments">
            <p>Number of Students:</p>
          </td>
          <td>
            <p>{{schoolDetails?.Student_number | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.School_subtype">
          <td title="Further breakdown of a school level/type">
            <p>SubType:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_subtype | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.LBOTE_pct">
          <td title="language backgrounds other than English">
            <p>Non-English %:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.LBOTE_pct | NoDataPipe }}</p>
          </td>
        </tr>
  
        <tr *ngIf="schoolDetails?.School_specialty_type">
          <td title="School speciality flag">
            <p>School Specialty:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_specialty_type | NoDataPipe }}</p>
          </td>
        </tr>
  
        <tr *ngIf="schoolDetails?.Indigenous_pct">
          <td title="Full-Time Equivalent Aboriginal or Torres Strait Islanders enrolled">
            <p>Indigenous Pct:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Indigenous_pct | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.Intensive_english_centre">
          <td title="intensive English centre flag">
            <p>English Center:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Intensive_english_centre | NoDataPipe }}</p>
          </td>
        </tr>
  
  
        <!-- Priv only -->
        <tr *ngIf="schoolDetails?.Sector">
          <td title="Subcategory options include: Catholic or Independent">
            <p>Sector:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Sector | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.School_affiliation">
          <td>
            <p title="Self-reported religious or philosophical beliefs">Affiliation:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_affiliation | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.Campus_level">
          <td>
            <p title="School type for campus level only">Campus Level:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Campus_level | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.Dicosese">
          <td title="Districts under the pastoral care of a bishop in the Catholic church">
            <p>Diocese:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Dicosese | NoDataPipe }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>