<div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>
            <p>Details</p>
          </th>
          <th>
            <p>Data</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Shared -->
        <tr>
          <td>
            <p>Suburb:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Town_suburb | NoDataPipe }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Gender:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_gender | NoDataPipe | CoEdPipe}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Level of Schooling:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Level_of_schooling | NoDataPipe }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Electorate:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Fed_electorate | NoDataPipe }}</p>
          </td>
        </tr>
  
        <!-- Gov only -->
        <tr *ngIf="schoolDetails?.Student_number">
          <td>
            <p>Number of Students:</p>
          </td>
          <td>
            <p>{{schoolDetails?.Student_number | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.School_subtype">
          <td>
            <p>SchoolType:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_subtype | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.LBOTE_pct">
          <td>
            <p>Non-English %:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.LBOTE_pct | NoDataPipe }}</p>
          </td>
        </tr>
  
        <tr *ngIf="schoolDetails?.School_specialty_type">
          <td>
            <p>School Specialty:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_specialty_type | NoDataPipe }}</p>
          </td>
        </tr>
  
        <tr *ngIf="schoolDetails?.Indigenous_pct">
          <td>
            <p>Indigenous Pct:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Indigenous_pct | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.Intensive_english_centre">
          <td>
            <p>English Center:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Intensive_english_centre | NoDataPipe }}</p>
          </td>
        </tr>
  
  
        <!-- Priv only -->
        <tr *ngIf="schoolDetails?.Sector">
          <td>
            <p>Sector:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Sector | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.School_affiliation">
          <td>
            <p>Affliction:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.School_affiliation | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.Campus_level">
          <td>
            <p>Campus Level:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Campus_level | NoDataPipe }}</p>
          </td>
        </tr>
        <tr *ngIf="schoolDetails?.Dicosese">
          <td>
            <p>Diocese:</p>
          </td>
          <td>
            <p>{{ schoolDetails?.Dicosese | NoDataPipe }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>