<div class="school__header">
  <div class="school__header--menu">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="school__header--menuItem">
      Home
    </a>
    <a routerLink="/about/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="school__header--menuItem">
      About Us
    </a>
    <a href="https://github.com/anthonyDrury/SchoolCheck" class="school__header--menuItem">
      Github Page
    </a>
  </div>
</div>