.school__header--menu {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    min-height: 40px;
    .school__header--menuItem {
        display: block;
        padding: 5px;
        color: white;
        &:hover {
            background-color: rgba(9, 41, 116, 0.5);
        }
        a {
            color: rgba(255, 255, 255, 0.8);
            
            &:active,
            :visited {
                color: white;
            }
        }
    }
}

.active-link {
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: underline;
}

.school__header--footNote {
    text-align: center;
}

@media (max-width: 768px) {
    .school__header--menuItem {
        padding: 0 5px;
    }
}