.school__footer {
    background-color: #092974;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.school__footer--menu {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    min-height: 40px;
    .school__footer--menuItem {
        display: block;
        padding: 5px;
        color: white;
        &:hover {
            background-color: rgba(9, 41, 116, 0.5);
        }
        a {
            color: rgba(255, 255, 255, 0.8);
            
            &:active,
            :visited {
                color: white;
            }
        }
    }
}

.school__footer--footNote {
    text-align: center;
}

@media (max-width: 768px) {
    .school__footer--menuItem {
        padding: 0 5px;
    }
}