<div class="container school__footer">
  <div class="row">
    <div class="col-12 school__footer--menu">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="school__footer--menuItem">
          Home
        </a>
        <a routerLink="/about/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="school__footer--menuItem">
          About Us
        </a>
        <a href="https://github.com/anthonyDrury/SchoolCheck" class="school__footer--menuItem">
          Github Page
        </a>
    </div>
    <div class="col-12 school__footer--footNote">
      <p>
        Datasets were distributed by the NSW Department of Education and have full legal rights over the Datasets used.
      </p>
    </div>
  </div>
</div>