<div class="schoolAbout__menu">
    <h1>About School Compare</h1>
  </div>
  <div class="container schoolAbout__info">
    <div class="row">
      <div class="col-12 schoolAbout__info--text">
        <p>School Compare allows you to <strong>compare multiple NSW Australia Public and Private schools</strong> so you can best determine the right fit for your child or loved one.</p>
        <p>School Compare utilises <i>NSW Department of Education</i> datasets in order to have the most accurate data involved in comparing <strong>NSW Schools</strong>.<br> This allows us to display <strong>unbiased data</strong> as we do not ask <strong>individual schools</strong> to supply us with any information/details.</p>
        <p>To further display our dedication to unbiased reporting of information, you may view the <a href="https://github.com/anthonyDrury/SchoolCheck">School Compare Github Page</a>. Here you may find all the code used to develop, run and maintain this site.</p>
        <p>If you have any questions or comments please contact me at: <a href="mailto:anthony.drury1@gmail.com">anthony.drury1@gmail.com</a></p>
      </div>
    </div>
  </div>