.schoolAbout__menu {
    text-align: center;
    background-color: #1240AB;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid black 10px;
}

.schoolAbout__info {
    padding-bottom: 150px;


    .schoolAbout__info--text {
        background-color: #152E68;
        padding: 30px 10px;
    }
}