.schoolCompare__menu {
    text-align: center;
    background-color: #1240AB;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid black 10px;
}


.schoolCompare {
    margin-bottom: 100px;
}

@media (max-width: 990px) {
    .schoolCompare {
        margin-bottom: 200px;
    }
}