.schoolCompare {
    table {
        margin-top:20px; 
        border-radius: 5px 5px 5px 5px;
    }
    th {
        background-color: #FF5600;
        color: white;
        border: none;
        border-top: none;
        &:hover, :focus {
            background-color: #9B3400;
        }
    }
    td {
        background-color: #C54200;

        &:hover, :focus {
            background-color: #9B3400;
        }
    }
}

.schoolCompare__list--firstRow {
    border-top: none;
}



.table {
    width: 100% !important;
}