<div class='table-responsive'>
  <table class='table' *ngIf='schoolCompareDetails'>
    <thead>
      <tr>
        <th title="Official school name">
          <p>Details</p>
        </th>
        <th *ngFor='let schoolArray of schoolCompareDetails'>
          <p>{{ schoolArray.School_name | NoDataPipe }}</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Shared -->
      <tr>
        <th title="School population gender status">
          <p>Gender:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school.School_gender | NoDataPipe | CoEdPipe}}</p>
        </td>
      </tr>
      <tr>
        <th title="School speciality flag">
          <p>Specialty:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.School_specialty_type | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="Federal electorate divisions">
          <p>Fed Electorate:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school.Fed_electorate | NoDataPipe }}</p>
        </td>
      </tr>
      <!-- Gov Only -->
      <tr>
        <th title="Further breakdown of a school level/type">
          <p>Subtype:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{ school?.School_subtype | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="Full-time equivalent (FTE) student enrolments">
          <p>Number of Students:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school.Student_number | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="intensive English centre flag">
          <p>English_Centre:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Intensive_english_centre | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="Full-Time Equivalent Aboriginal or Torres Strait Islanders enrolled">
          <p>Indigenous %:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Indigenous_pct | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="(Y) or (N) a school opens later">
          <p>Late Opening:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Late_opening_school | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="Secondary school selective flag">
          <p>Selective:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Selective_school | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="New South Wales electoral district">
          <p>State Electorate:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Electorate | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="language backgrounds other than English">
          <p>LBOTE %:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails'>
          <p>{{school.LBOTE_pct | NoDataPipe }}</p>
        </td>
      </tr>
      <!--priv-->
      <tr>
        <th title="religious or philosophical beliefs and values maintained by the school">
          <p>Affiliation:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.School_affliation | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="School type for campus level only">
          <p>Campus level:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Campus_level | NoDataPipe }}</p>
        </td>
      </tr>
      <tr>
        <th title="Subcategory options include: Catholic or Independent">
          <p>Sector:</p>
        </th>
        <td *ngFor='let school of schoolCompareDetails' class="schoolCompare__list--firstRow">
          <p>{{school?.Sector | NoDataPipe }}</p>
        </td>
      </tr>

    </tbody>
  </table>
</div>