/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

/*######################
Shared CSS
######################*/
.text-align--center {
    text-align: center;
}


.display-none{
    display: none !important;
}




app-root {
    display: block;
    width: 100%;
}

body {
    background-color: #0D58A6;
    color: rgba(255, 255, 255, 0.8);

    /*http://www.paletton.com/#uid=33A0u0kw0w0jyC+oRxVy4oIDfjr*/
}