/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
/*######################
Shared CSS
######################*/

.text-align--center {
    text-align: center;
}

html, body {
    height: 100%;
}

.display-none {
    display: none !important;
}

app-root {
    display: block;
    width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #60676E;
    color: rgba(255, 255, 255, 1);
    /*http://www.paletton.com/#uid=33A0u0kw0w0jyC+oRxVy4oIDfjr*/
}