
<div class="schoolSearch__menu">
  <h1>Compare NSW Schools</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 schoolSearch__header">
      <input class="schoolSearch__header--searchbar" type='text' [(ngModel)]='listFilter' title="School Search" placeholder="Enter School Name"/>
      <p class="schoolSearch__header--infoText">
        Click on the <strong>school name</strong> for further details
      </p>
    </div>
  </div>
  <div class="row" *ngIf='filteredSchools && filteredSchools.length'>
    <div class="col-12 schoolSearch__compare">
      <button [ngClass]="[displayCompareBtn, 'schoolSearch__compare--button']" (click)="compare()">COMPARE</button>
      <p class="schoolSearch__info-text">
        <strong>Selected Schools will display below the table</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 schoolSearch__list">
      <div class='table-responsive' *ngIf='filteredSchools else loading'>
        <table class='table' *ngIf='filteredSchools.length else noData'>
          <thead>
            <tr>
              <th title="School Name">School Name</th>
              <th title="School Post Code">Post code</th>
              <th title="Compare up to four Schools">Compare</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let school of filteredSchools' class="schoolSearch__list--tableRow">
              <td (click)="redirect(school.AgeID)" class="schoolSearch__list--tableRow--tdLink" title="Click for more details">{{ school.School_name | NoDataPipe }}</td>
              <td (click)="redirect(school.AgeID)" class="schoolSearch__list--tableRow--tdLink" title="Click for more details">{{ school.Postcode | NoDataPipe }}</td>
              <td>
                <input type="checkbox" [value]="school.AgeID" [name]="'cb'+school.AgeID" [id]="'cb'+school.AgeID" class="schoolSearch__list--checkbox"
                  (change)="onChange(school.AgeID, school.School_name, $event.target.checked)" [disabled]="checkedLimit && !checkID(school.AgeID)"
                />
                <label for="cb{{school.AgeID}}"></label>
              </td>
              <!--  -->
            </tr>
          </tbody>
        </table>
        <ng-template #noData>
          <p class="schoolSearch__list--loading">No Data</p>
        </ng-template>
      </div>
      <ng-template #loading>
        <p class="schoolSearch__list--loading">Loading Data</p>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12 schoolSearch__preview" *ngIf='compareSchoolsNames && compareSchoolsNames.length else defaultContent'>
      <div *ngFor='let school of compareSchoolsNames' class="schoolSearch__preview--school"  title="Selected School">
        <p>{{ school | NoDataPipe }}</p>
      </div>
    </div>
    <ng-template #defaultContent>
      <p class="schoolSearch__preview--info">
        <span *ngIf='filteredSchools && filteredSchools.length'>Selected Schools will appear here.
        <br /> Try selecting some schools.</span>
      </p>
    </ng-template>
  </div>
</div>