.schoolSearch__menu {
    text-align: center;
    background-color: #1240AB;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid black 10px;
}

.schoolSearch__header {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-weight: 700;
}

.schoolSearch__header--searchbar {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    background-color: #1240AB;
    border-color: #1240AB;
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    transition: all 0.2s ease-in-out;
    outline: none;
    &:hover {
        transform: scale(1.01);
    }
}

.schoolSearch__compare {
    p {
        text-align: center;
    }
    .schoolSearch__compare--button {
        margin: -5px auto 15px auto;
        display: block;
        background-color: #FFAA00;
        border: none;
        border-color: #FFAA00;
        padding: 10px 30px;
        border-radius: 10px 10px 10px 10px;
        text-shadow: 0 -1px rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 3px -1px rgba(45, 60, 72, 0.5);
        color: black;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        &:hover,
        :focus {
            transform: translateY(-0.25em);
            transform: scale(1.05);
            box-shadow: 0px 5px 8px 8px rgba(0, 0, 0, 0.3);
        }
    }
    .schoolSearch__compare--button--off {
        visibility: hidden;
        opacity: 0;
    }
    .schoolSearch__compare--button--fadeIn {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}

.schoolSearch__preview--info {
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    min-height: 220px;
    margin-bottom: 100px;
}

.schoolSearch__preview--note {
    font-size: 16px;
    margin: 0px auto 15px auto;
}

.schoolSearch__preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 220px;
    margin-bottom: 100px;
    .schoolSearch__preview--school {
        padding: 20px 5px;
        background-color: #0d3184;
        text-align: center;
        width: 200px;
        color: white;
        font-size: 1.2em;
        max-height: 100px;
        border: solid 1px;
        border-color: black;
        border-right: solid 1px;
        border-right-color: black;
        &:hover {
            color: rgba(255, 255, 255, 1);
            background-color: darken(#0D3184, 5%);
        }
        &:last-child {
            border-right: solid 1px;
            border-right-color: black;
        }
        &:nth-child(odd) {
            background-color: lighten(#0D3184, 10%);
            &:hover {
                color: rgba(255, 255, 255, 1);
                background-color: lighten(#0D3184, 15%);
            }
        }
        p {
            height: 24px;
        }
    }
}

.schoolSearch__list {
    font-size: 25px;
    .schoolSearch__list--loading {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
        color: white;
        font-weight: 700;
        font-size: 22px;
    }
    table {
        border-collapse: separate;
        width: 80%;
        margin: 0 auto;
        background-color: black;
        margin-bottom: 20px;
        border-radius: 5px 5px 0px 0px;
    }
    .schoolSearch__list--tableRow {
        background-color: #0D3184;
        -webkit-transition-property: background-color;
        -webkit-transition: 0.25s;
        transition-property: background-color;
        transition: 0.25s;
        &:hover {
            color: rgba(255, 255, 255, 1);
            background-color: darken(#0D3184, 5%);
            text-decoration: underline;
        }
    }
    .table td,
    .table th {
        border: none;
        border-top: none;
    }
    tr:nth-child(odd) {
        background-color: lighten(#0D3184, 10%);
        &:hover {
            color: rgba(255, 255, 255, 1);
            background-color: lighten(#0D3184, 15%);
        }
    }
    th {
        background-color: darken(#0E3794, 5%);
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
    .schoolSearch__list--tableRow--tdLink {
        cursor: pointer;
    }
    .schoolSearch__list--checkbox {
        width: 28px;
        height: 28px;
        position: relative;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        .schoolSearch__list--checkbox input[type=checkbox] {
            visibility: hidden;
            &:checked+label:after {
                opacity: 1;
            }
        }
        .schoolSearch__list--checkbox label {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            left: 4px;
            top: 4px;
            &:after {
                content: '';
                width: 9px;
                height: 5px;
                position: absolute;
                top: 4px;
                left: 4px;
                border: 3px solid #fcfff4;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0;
                transform: rotate(-45deg);
            }
            &label:hover::after {
                opacity: 0.3;
            }
        }
    }
}

@media (min-width: 1200px) {
    .schoolSearch__preview,
    .schoolSearch__preview--info {
        min-height: 115px;
    }
}

@media (max-width: 992px) {
    .schoolSearch__list {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .schoolSearch__preview--info,
    .schoolSearch__preview {
        margin-bottom: 150px;
    }
    .schoolSearch__preview--school {
        width: 130px !important;
        height: auto;
        font-size: 16px !important;
    }
    .schoolSearch__list {
        font-size: 19px;
    }
    .table {
        width: 100% !important;
        td {
            height: 75px;
        }
    }
    .schoolSearch__header--searchbar {
        font-size: 18px;
    }
    .schoolSearch__header h1 {
        font-size: 1.6em;
    }
    .schoolSearch__info-text {}
}

@media (max-width: 576px) {
    .schoolSearch__list {
        font-size: 16px;
    }
}